
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
.line h1{
    font-size: 6vw;
    font-weight: 500;
    text-transform: uppercase;
}
#loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    z-index: 10;
    padding: 25vh 10vw;
}
#main{
    position: relative;
    background-color: #111;
}
/*  */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}