
*{
    cursor: none;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light", serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#crsr{
    height:5vh;
    width: 5vh;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position : fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.line{
    gap: 3vw;
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    justify-items: flex-start;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-family: 'silk serif';
    font-size: 3vw;
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    
}
.line h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    text-transform: uppercase;
    opacity:0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity:1;
    }
    47%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity:0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:0;
    }
    
}
#loader{
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: #030303;
    z-index: 9999;
    padding: 25vh 10vw;
}
#main{
    position: relative;
    background-color: #030303;
}
/*  */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: 3vh;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    padding: 0.02vw;
    height: fit-content;
    width: 72%;
    margin-left:27%;
    overflow: hidden;
    display: flex;
    z-index: 9999;
    align-items: center;
    position: relative;
}
.hero:nth-child(2){
    margin-top: 20vh;
}
#hero1,#hero2{
    margin-bottom: 2vh;
}
.hero h1{
    font-size: 8vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

.hero h2{
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.5vw;
    font-size: 8vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
    text-align: left;
    transition: all 0.3s ease;
}
.hero h3{
    padding-bottom: 1.5vh;
    padding-left:0.3vw;
    font-size: 7.8vw;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 7vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    border-bottom: 0.5vw solid #ffffff00;
}