
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light", serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.line{
    gap: 3vw;
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    justify-items: flex-start;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-family: 'silk serif';
    font-size: 3vw;
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    
}
.line h2 {
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
}
#loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #030303;
    z-index: 10;
    padding: 25vh 10vw;
}
#main{
    position: relative;
    background-color: #030303;
}
/*  */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}