
*{
    cursor: none;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light", serif;
}
html, body{
    scrollbar-width: none;
    height: 100%;
    width: 100%;
}
#crsr{
    height:5vh;
    width: 5vh;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position : fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.line{
    gap: 3vw;
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    justify-items: flex-start;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-family: 'silk serif';
    font-size: 3vw;
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    
}
.line h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    text-transform: uppercase;
    opacity:0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity:1;
    }
    47%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity:0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:0;
    }
    
}
#loader{
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: #030303;
    z-index: 999;
    padding: 25vh 10vw;
}
#main{
    position: relative;
    background-color: #030303;
}
/*  */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: 3vh;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    padding: 0.02vw;
    height: fit-content;
    width: 72%;
    margin-left:27%;
    overflow: hidden;
    display: flex;
    z-index: 99;
    align-items: center;
    position: relative;
}
.hero:nth-child(2){
    margin-top: 20vh;
}
#hero1,#hero2{
    margin-bottom: 2vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 6.5vw;
}

.hero h2{
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.5vw;
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 6.5vw;
    text-align: left;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.hero h3{
    padding-bottom: 1.5vh;
    padding-left:0.3vw;
    font-size: 7.2vw;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 6.5vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    padding-top: 17vh;
    position : relative;
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#video-container{
    height: 66vh;
    width: 71vw;
    left: 27%;
    position: relative;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container #thumbnail{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
}
#video-cursor{
    background-color: #FFA63D;
    height:16vh;
    width: 16vh;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor svg{
    padding: 35%;
}
#page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #585555;
}

#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page4-content{
    width:72vw;
    margin-left: 28%;
    position: relative;
}
#page4-content h1{
    font-size: 6.7vw;
    text-transform: uppercase;
    line-height: 6vw;
    margin-bottom: 3vh;
}
#page4-content .underline{
    height: 1px;
    width: 93%;
    background-color:#ffffff;
    margin-top:5vw;
}
#page4-content>p{
    font-weight: 500;
    font-size: 2.2vw;
    width: 50%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
} 
#page4-flex img{
    width: 32vw;
    
}
#page4-flex p{
    font-size:1.1vw;
    width:28%;
    margin-left: 2vw;
}





#page4-bluediv{
    margin-left:22.5vw;
    margin-top: -25vh;
    margin-bottom: 20vh;
    background-color: #3F7DF4;
    padding: 3vw;
    width: 33vw;
    position: relative; 


}
.bluediv_elem{
    margin-top: 1vh;
    border-bottom: 1px solid #ffffffa9;
    padding: 2.2vw 0;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.bluediv_elem p{
    width:45%;
    font-size: 1.1vw;
}
.bluediv_elem h4{
    font-size: 1.5vw;
    font-weight: 700;
}
#underline-text{
    width: 100%;
    margin-top: 3vh;
    font-weight: 200;
}

