
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light", serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.line{
    gap: 3vw;
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    justify-items: flex-start;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-family: 'silk serif';
    font-size: 3vw;
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    
}
.line h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    text-transform: uppercase;
    opacity:0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity:1;
    }
    47%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity:0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:0;
    }
    
}
#loader{
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: #030303;
    z-index: 10;
    padding: 25vh 10vw;
}
#main{
    position: relative;
    background-color: #030303;
}
/*  */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}